<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<br>
    {% if username %}
         你好，{{ username }}
        <a href="{% url 'users:logout' %}">注销</a></br>
        <a href="{% url 'users:usercenter' %}">用户中心</a></br>
    {% else %}
        <a href="{%  url 'users:login' %}">登录</a></br>
    {% endif %}

    选择省份</br>
    {% for province in provinces %}
    <a href="?province={{ province }}">{{ province }}</a>
    {% endfor %}
    </br>
    </br>选择城市</br>
    {% if cities %}
        {% for city in cities %}
{#            BUG here 首页直接点击市区会出错 由于这个&#}
             <a href="{{ request.get_full_path }}&city={{ city }}">{{ city }}</a>
        {% endfor %}
    {% endif %}
    </br>选择医院</br>
    {% if hospitals %}
        {% for hospital in hospitals %}
            <a href="{% url 'users:hospital' %}?hospital_id={{ hospital.id_hospital }}">{{ hospital.name }}</a>
        {% endfor %}
    {% endif %}
</body>
</html>