<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>病人</th><th>科室</th><th>医生</th><th>是否缴费</th><th>费用</th><th>预约时间</th>
    </tr>
    {% for i in appointments %}
    <tr>
        {% if   i.isShow  %}
        <td>{{ i.patient.name}}</td>
        <td>{{ i.department.name }}</td>
        <td>{{ i.doctor.name }}</td>
        <td>{{ i.anAppointment.ispaid}}</td>
        <td>{{ i.fee }}</td>
        <td>{{ i.time }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
</body>
</html>