<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
    function confirmAppointment(name,id_appointment)
    {
        test=window.confirm("确认"+name+"预约");
        if(test==true){
            window.open("../confirmAppointments/?id="+id_appointment)
        }

    }
    </script>
</head>

<body>
 <table>
     <tr>
        <th> 姓名 </th> <th> 年龄 </th> ><th> 性别 </th><th> 是否缴费 </th><th> 费用 </th><th>预约时间</th><th> 是否确认 </th>
    </tr>
    {% for i in appointments %}
    <tr>
        <td>{{ i.patient.name}}</td>
        <td>{{ i.patient.age }}</td>
        <td>{{ i.patient.gender }}</td>
        <td>{{ i.anAppointment.ispaid}}</td>
        <td>{{ i.bulletin.fee }}</td>
        <td>{{ i.bulletin.availabletime }}</td>
        <td><button type="submit" onclick="confirmAppointment('{{ i.patient.name }}','{{ i.anAppointment.id_appointment }}')">确认</button>
    </tr>
    {% endfor %}
 </table>
</body>
</html>